@charset "utf-8";

///*** Body ***///
body {
  font-family: 'Arvo', serif;
  font-size: 1.15em;
}


///*** Header ***///
//Bar background color
.nav {
  background: url(../images/navbg1.png);
  //background-color: #3273dc;
  font-weight: bold;
  height: 4.25rem;
  font-size: 1.5em;
  //position: fixed !important; for fixed nav
  //top: 0;
  //left: 0;
  //right: 0;
}

//Bar item color
.nav-item a, a.nav-item {
  color: #fff;
}

//Bar hover items
.nav-item a:hover, a.nav-item:hover {
  color: #333;
}

//a:hover {
  //color: green;
//}

.nav-toggle {
  height: 4.25rem;
}

//Toggle button hover color
.nav-toggle:hover {
  background: url(../images/navbg1.png);
  //background-color: #3273dc;
}

//Toggle span three line
.nav-toggle span {
  background-color: #fff;
  width: 40%;
  height: 2px;
}

//Drop down color
@media screen and (max-width: 768px) {
  .nav-menu.nav-right {
    background: url(../images/navbg1.png);
  }
}


///*** Body ***///
.title {
  font-family: 'Questrial', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.title2 a {
  font-size: 0.8em !important;
  color: #6e5eb2 !important; // dark purple
  font-weight: bold;
}

.title2 a:hover {
  color: #a399cd !important; //light purple
}

.title3 {
  margin-top: 5%;
}

.subtitle {
  font-family: 'Nobile', sans-serif;
  font-size: 1.5em;
  color: #8F8E96; //gray
  //#666
}

.subtitle2 {
  margin-top: 2%;
  font-size: 0.75em !important;
  color: #8F8E96 !important;
}

//.main-hero {
  //margin-top: 100px;
// for sticky nav}

a {
  color: #333;
  //#23d160;
  //#3273dc;
}

a:hover {
  color: #a399cd !important; //light purple
}

.fa-bigger {
  font-size: 1.5em !important;
}

.read-more {
  font-size: 0.75em !important;
  font-weight: bold;
  color: #a399cd !important; //light purple
}

//img[src$='#img-thumbnail'] {
//  display: block;
//  border-radius: 50%;
//  border: 10px solid #f2f1f2;
//  width: 50%;
//  height: 50%;
//  margin-left: auto !important;
//  margin-right: auto !important;
//}

.img-thumbnail {
  display: block;
  border-radius: 50%;
  border: 10px solid #f2f1f2;
  width: 40%;
  height: 40%;
  margin-left: auto !important;
  margin-right: auto !important;
}

///*** FOOTER ***///
footer .content {
  text-align: left;
}

.footer-c {
  text-align: center;
}



///*** Article details section ***///

.back-home {
  margin-top: 25px;
  text-align: center;
}

.img-post {
  display: block;
  border-radius: 50%;
  border: 10px solid #f2f1f2;
  width: 50%;
  height: 50%;
  margin-left: auto !important;
  margin-right: auto !important;
}


///*** Categories ***///
.category-title {
  font-size: 1.25em;
  color: #a399cd !important; //light purple
  font-weight: bold;
}

.category-link {
  list-style: none !important;
}


///*** About Page ***///
.title-about {
  font-family: 'Nobile', sans-serif;
  //'Questrial', sans-serif;
  //'Nobile', sans-serif;
  //'Arvo', serif;
  font-size: 3em;
  font-weight: bold;
}

.subtitle-about {
  font-family: 'Arvo', serif;
  //'Questrial', sans-serif;
  //'Nobile', sans-serif;
  //'Arvo', serif;
  font-size: 1.5em;
  font-weight: bold;
}

.is-sith {
  background-color: #f1e9d2;
}

.quote-about {
  font-family: 'Questrial', sans-serif;
  font-size: 2em;
  //'Questrial', sans-serif;
  //'Nobile', sans-serif;
  //'Arvo', serif;
}

.quote-sith {
  font-family: 'Arvo', serif;
  font-size: 1em;
  //'Questrial', sans-serif;
  //'Nobile', sans-serif;
  //'Arvo', serif;
}

.interest-about {
  font-family: 'Arvo', serif;
  //'Questrial', sans-serif;
  //'Nobile', sans-serif;
  //'Arvo', serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.is-legal {
  background-color: #ff5732 !important;
}

.legal-about {
  font-family: 'Arvo', serif;
  //'Questrial', sans-serif;
  //'Nobile', sans-serif;
  //'Arvo', serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

.is-technology {
  background-color: #C0C0C0 !important;
}

.is-privacy {
  background-color: #fcaa53 !important;
}

.is-game {
  background-color: #90b33d !important;
}

.is-food {
  //background-color: #90b33d !important;
}

.is-random {
  background-color: #000 !important;
}
