@charset "utf-8";

///*** Body ***///
body {
  font-family: 'Arvo', serif;
  font-size: 1.15em;
}


///*** Header ***///
//Bar background color
.nav {
  background-color: #3273dc;
  font-weight: bold;
  height: 4.25rem;
  font-size: 1.5em;
}

//Bar item color
.nav-item a, a.nav-item {
  color: #fff;
}

//Bar hover items
.nav-item a:hover, a.nav-item:hover {
  color: #333;
}

//a:hover {
  //color: green;
//}

.nav-toggle {
  height: 4.25rem;
}

//Toggle button hover color
.nav-toggle:hover {
  background-color: #3273dc;
}

//Toggle span three line
.nav-toggle span {
  background-color: #fff;
  width: 40%;
  height: 2px;
}

//Drop down color
@media screen and (max-width: 768px) {
  .nav-menu.nav-right {
    background-color: #3273dc;
  }
}


///*** body ***///
.title {
  font-family: 'Questrial', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.title2 {
  font-size: 1.5em !important;
}

.title3 {
  margin-top: 5%;
}

.subtitle {
  font-family: 'Nobile', sans-serif;
  font-size: 1.5em;
}

.subtitle2 {
  margin-top: 2%;
  font-size: 0.75em !important;
}

a {
  color: #333;
  //#23d160;
  //#3273dc;
}

a:hover {
  color: #23d160;
}

.fa-2x {
  font-size: 2em !important;
}
