<% wrap_layout :layout do %>

<p class="back-home"><%= link_to"<i class=\"fa fa-long-arrow-left fa-lg\"></i> Back to Home", "../index.html", :class => 'read-more' %></p>
<hr class="is-marginless">

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
      </div>
      <div class="column is-8">
        <div class="content">
          <h4 class="subtitle subtitle2">
            <span><%= current_article.date.strftime('%e %b %Y') %></span>
          </h4>
          <h2 class="title title2">
            <%= current_article.title %>
          </h2>
          <p>
            <%= current_article.body %>
          </p>
        </div>
      </div>
      <div class="column is-2">
      </div>
    </div>
  </div>
</div>

<% end %>
