<footer class="footer">
    <div class="container">
      <div class="column is-half is-offset-one-quarter">
        <div class="content">
          <p class="footer-c">
            <strong>&copy; 2017 <%= link_to "Jason Wai", "about.html" %></strong>
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="column is-half is-offset-one-quarter">
        <div class="content">
          <p class="footer-c">
            <%= link_to '<i class="fa fa-github fa-bigger"></i>', 'https://github.com/jawai/jawai.github.io', :class => 'icon', target: :_blank %> |
            <%= link_to '<i class="fa fa-linkedin fa-bigger"></i>', 'https://www.linkedin.com/in/jason-wai', :class => 'icon', target: :_blank %> |
            <%= link_to '<i class="fa fa-twitter fa-bigger"></i>', 'https://twitter.com/jasonawai', :class => 'icon', target: :_blank %>
          </p>
        </div>
      </div>
    </div>
</footer>
