<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <h1>JW</h1>
    </a>
  </div>

  <div class="nav-center">
    <a class="nav-item">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item">
      <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span id="nav-toggle" class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div id='nav-menu' class="nav-right nav-menu">
    <%= link_to 'Home', 'index.html', :class => 'nav-item' %>
    <%= link_to 'About', 'about.html', :class => 'nav-item' %>
  </div>
</nav>
