<nav class="nav">
  <!--<div class="nav-left">
    <%= link_to '<h1>JASONWAI .</h1>', '../index.html', :class => 'nav-item' %>
  </div> -->

  <div class="nav-center">
    <a class="nav-item" href="https://www.linkedin.com/in/jason-wai" target="_blank">
      <span class="icon">
        <i class="fa fa-linkedin fa-bigger"></i>
      </span>
    </a>
    <a class="nav-item" href="https://twitter.com/jasonawai" target="_blank">
      <span class="icon">
        <i class="fa fa-twitter fa-bigger"></i>
      </span>
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span id="nav-toggle" class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
    <!--<i class="fa fa-bars"></i>-->
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div id='nav-menu' class="nav-right nav-menu">
    <%= link_to 'Home', '../index.html', :class => 'nav-item' %>
    <%= link_to 'About', '../about.html', :class => 'nav-item' %>
  </div>
</nav>
