---
title: <- All About
---

<section class="hero main-hero is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <h1 class="title-about">
            Hi there <span class="blink_me">.</span>
          </h1>
          <h2 class="subtitle-about-main">
             I'm Jason, a lawyer with an engineering background and a passion for learning.
          </h2>
          <h2 class="subtitle-about-main">
            It's a pleasure to meet you.
          </h2>
        </div>
        <div class="column is-half">
          <img src="/images/me.jpg" alt="slef-portrait" class="img-self">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-warning interest-about">
          <p class="title">Meet My Interests</p>
        </article>
      </div>
    </div>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-danger">
          <p class="title">Legal</p>
          <p class="subtitle">Discovery</p>
          <figure class="image is-4by3 rounded-img">
            <img src="/images/law_discover.jpg">
          </figure>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Technology</p>
          <p class="subtitle">Deep Dive</p>
          <figure class="image is-4by3">
            <img src="/images/technology.png">
          </figure>
        </article>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <p class="title">Privacy</p>
      <p class="subtitle">Exploration</p>
      <figure class="image is-4by3">
        <img src="/images/security.jpg">
      </figure>
    </article>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-dark">
          <div class="columns">
            <div class="column is-half">
              <h1 class="title-about">
                Light Side vs DARK SIDE
              </h1>
            </div>
            <div class="column">
              <img src="images/darksaber.png" class="img-about">
              <h2 class="subtitle-about">
                I'll let you figure out which side I'm on.
              </h2>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<section class="hero is-bold is-small is-sith">
  <div class="hero-body">
    <div class="container">
      <div class="columns ">
        <div class="column is-2"></div>
        <div class="column">
          <blockquote class="quote-about">
            "The Force shall free me."
          </blockquote>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-3"></div>
        <div class="column">
          <blockquote class="quote-sith">
            -<em>The Sith Code </em> (as written by Sorzus Syn and taught by Darth Bane)
          </blockquote>
        </div>
    </div>
  </div>
</section>
