---
title: JWai
---

<section class="hero main-hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        About me
      </h1>
      <h2 class="subtitle">
         I love to eat unicorn meat
      </h2>
    </div>
  </div>
</section>

<section class="hero is-dark is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns ">
        <div class="column is-half">
          <p class="title">
            I study the science of cooking delicious unicorn meat!
          </p>
          <p class="subtitle">
            Yuuuuuuuuuumy! Super Delish!
          </p>
        </div>
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://octodex.github.com/images/labtocat.png" alt="Image">
            </figure>
          </div>
          <div class="content">
            That's me working to come up with the best sauce and oils to use to cook me some nyum nyum immortalizerzer...
            #immortal #voldermort-wannabe #realvoldermort
            <br>
            <small>note: immortalizerzer is not a real word</small>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
