---
title: <- All About
---
<section class="hero main-hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="colums">
        <div class="column is-5">
          <h1 class="title-about">
            Hi there.
          </h1>
          <h2 class="subtitle-about">
             I'm Sloth Vadermort (aka Jason), a generalist, lawyer, and engineer with a passion for learning.
          </h2>
          <h2 class="subtitle-about">&nbsp;</h2>
          <h2 class="subtitle-about">
            It's a pleasure to meet you.
          </h2>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-medium is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title-about">
        Light Side vs <strong><u>DARK SIDE</u><strong>?
      </h1>
      <h2 class="subtitle-about">
        I'll let you decide which side I'm on.
      </h2>
    </div>
  </div>
</section>

<section class="hero is-small">
  <div class="hero-body">
    <div class="container">
      <div class="column is-half is-offset-one-quarter">
        <h1 class="interest-about">
          Meet my Interests
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="hero is-medium is-legal">
  <div class="hero-body">
    <div class="container">
      <div class="column legal-about">
        Legal Exploration
      </div>
    </div>
  </div>
</section>

<section class="hero is-medium is-technology">
  <div class="hero-body">
    <div class="container">
      <div class="column legal-about">
        Technology Deep Dive
      </div>
    </div>
  </div>
</section>

<section class="hero is-medium is-privacy">
  <div class="hero-body">
    <div class="container">
      <div class="column legal-about">
        Privacy Discovery
      </div>
    </div>
  </div>
</section>

<section class="hero is-medium is-game">
  <div class="hero-body">
    <div class="container">
      <div class="column legal-about">
        Game GG
      </div>
    </div>
  </div>
</section>

<section class="hero is-bold is-medium is-sith">
  <div class="hero-body">
    <div class="container">
      <div class="columns ">
        <div class="column is-2"></div>
        <div class="column">
          <blockquote class="quote-about">
            "The Force shall free me."
          </blockquote>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="columns ">
        <div class="column is-3"></div>
        <div class="column">
          <blockquote class="quote-sith">
            -<em>The Sith Code </em> (as written by Sorzus Syn and taught by Darth Bane)
          </blockquote>
        </div>
    </div>
  </div>
</section>
